<div *ngIf="flow.user | async as user">
    <div *ngIf="user.addr">
        <div *ngIf="flow.initializationState | async as state">
            <mat-card>
                <mat-card-title>Account Initialized?</mat-card-title>
                <mat-card-content>
                    <table>
                        <tr>
                            FUSD: <span *ngIf="state.FUSD;else other"><mat-icon>done</mat-icon></span>
                        </tr>
                        <tr>
                            Kitty Items: <span *ngIf="state.KittyItems;else other"><mat-icon>done</mat-icon></span>
                        </tr>
                        <tr>
                            Kitty Items Market: <span *ngIf="state.KittyItemsMarket;else other"><mat-icon>done</mat-icon></span>
                        </tr>
                    </table>
                    <br />
                    <div *ngIf="!state.FUSD || !state.KittyItems || !state.KittyItemsMarket">
                        <button mat-raised-button color="primary" (click)="initializeAccount(user.addr)">
                            Initialize Account
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<ng-template #other><mat-icon>close</mat-icon></ng-template>